.homeworkStop {
  width: 0px;
  height: 200px;
  background: rgba(49, 214, 90, 0.555);
  border: 2px solid black;
  box-shadow: 2px 2px 2px black;
  text-shadow: 1px 1px 1px black;
  margin: auto;
  animation: animate 6s linear infinite;
}

@keyframes animate {
  0%,
  10%,
  70% {
    width: 0%;
  }
  50%,
  70% {
    width: 70%;
  }
}
